
/* Overarching app styling */
.App {
  text-align: center;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-link {
  color: #09d3ac;
}
.horizontalBarrier {
  width: 100vw;
  height: 5px;
  border: none;
  background-color: white;
}

/* Header Styling */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.header__logo {
  height: calc(30px + 5vmin);
  width: auto;
  margin: 10px;
}

/* ServiceRow Styling */
.serviceRow {
  display: grid;
  grid-template-columns: 50% auto;
  padding: 20px;
  color: white;
  background: linear-gradient(270deg,black, black, white);
}
@media (max-width: 500px) {
  .serviceRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.serviceRow__textBox {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  margin: 10px;
}
.serviceRow__image {
  max-width: 90%;
  width: 300px;
  justify-self: end;
  height: auto;
  padding: 5px;
  border: 1px solid white;
}

/* Footer Styling */
.footer {
  margin: 20px;
}